$color-white: #fff;
$color-black: rgb(0, 0, 0);

$color-primary-blue: #351f39;
$color-secondary-blue: #609db6;

$color-secondary-green: #00af91;

$grid-width: 140rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;